# For Face-GD
# part of sd's requirements used
/src/

# experimented results
/exp/image_samples/

# Diffusion Models
/exp/logs/celeba/celeba_hq.ckpt
/exp/logs/imagenet/256x256_diffusion_uncond.pt

# Pretrained models required for Dist(condition, X0|t), X0|t is the approximated intermediate result
/functions/face_parsing/79999_iter.pth
/functions/anime2sketch/netG.pth
/functions/arcface/model_ir_se50.pth
/functions/landmark/checkpoint/mobilefacenet_model_best.pth.tar
/functions/landmark/checkpoint/mobilenet_224_model_best_gdconv_external.pth.tar
/functions/landmark/Retinaface/weights/mobilenet0.25_Final.pth